@{
       ViewBag.Title="Suri's Fashion Wear";
       Layout="~/Views/Shared/_LayoutPage2.cshtml";
}
        
            <div class="left-column">
                <div>
                    <h4>Private Shoping:</h4>
                    <p>Our private shopping team are available for personal appointments</p>
                    <strong>tel:</strong>
                    <a href="+9242524661">+9242524661</a>
                    <strong>Mail:</strong>
                    <a href="private@gmail.com">private@gmail.com</a>
                </div>
                <div>
                    <h4>Head Office:</h4>
                    <p>First Floor<br>Khan shoping mall<br>Lahore</p>
                    <strong>tel:</strong>
                    <a href="+921234567">+921234567</a>
                    <strong>Mail:</strong>
                    <a href="Head@gmail.com">head@gmail.com</a>
                </div>
                <div>
                    <h4>Customer Care:</h4>
                    <p>Our Customer Care Centers are available for 24 Hours</p>
                    <strong>tel:</strong>
                    <a href="+92468101">+922468101</a>
                    <strong>Mail:</strong>
                    <a href="customer@gmail.com">customer@gmail.com</a>
                </div>
            </div>
            <div class="right-column">
                <img src="/images/about1.jpg" />
            </div>
      
