@{
    ViewBag.Title = "Index";
}
@{
    Layout="~/Views/Shared/AdminLayout.cshtml";
}
<div class="page-header">
          <h1><font color="purple">Admin's Page</font></h1>
           <img src="/images/about1.jpg" alt="about1" height="400" width="400" />
          <img src="/images/about2.jpg" alt="about1" height="400" width="400" />
</div>
