@{
       ViewBag.Title="Suri's Fashion Wear";
       Layout="~/Views/Shared/_LayoutPage1.cshtml";
}
    <img src="/images/about1.jpg" alt="about1" height="400" width="400" />
    <img src="/images/about2.jpg" alt="about1" height="400" width="400" />
        <section id="main">
            <h1>A little bit about SURI'S FASHION WEAR</h1>
            <p>
                Suri’s Fashion Wear Website is a web base application where customers can Purchase fashion related things 
                online both for male and female. Here customer can see clothes, accessories etc. that are related with fashion
                from the seller using Internet. This is basically a shopping website where you can buy products online.
                You can choose things according to your own choice within your budjet and can buy them.
                Their are simple views so that you can understand each and every thing easily. we have quality products that are 
                according to mordern fashion desires of the customers.
            </p>
        </section>
      
